*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
nav{
    height: 60px;
    padding-top: 15px;
    background-color: black;
}
#logo{
    margin-right: 500px;
    margin-left: 20px;
    /* color: #FFD700; */
   color: #C0C0C0;
    font-size: 30px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-right: 40px;
    /* color: #FFD700; */
    color: #C0C0C0;
}
.search{
    display: inline-block;
}
#search1{
    font-size: 20px;
    width: 350px;
    padding: 2px;
    border: 1px solid #C0C0C0; ;
}
#s1{
    /* color: white; */
    color: #C0C0C0;
}
#sym{
    /* color: white; */
    color: #C0C0C0;
    margin-left: 70px;
}
.main{
    height: 600px;
    background-image: url(./w1.jpg);
    background-size: cover;
}
#b1{
     color: #C0C0C0;
     padding: 10px;
     margin: 30px;
     margin-left: 70px;
     background-color: black;
     border: 1px solid #C0C0C0;
     border-radius: 20px;
}
.t1{
    /* color: white; */
    color: #C0C0C0;
    padding: 70px;
    width: 500px;
}
#a1{
    font-size: 70px;
    font-weight: 500;
}
#a2{
    font-size: 40px;
    font-weight: 500;
}
#a3{
    font-size: 20px;
}
.collection{
    height: 450px;
    width: 1100px;
    /* background-color: #C0C0C0; */
    margin: auto;
    border-radius: 30px;
}
.c1{
    display: inline-block;
    margin-right: 10px;
    margin-left: 5px;
}
.p1{
    text-align: center;
    color: black;
    background-color: white;
}
#coll1{
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 40px;
    margin-top: 20px;
    color:#C0C0C0;
}
#m1{
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: 600px;
    color:#C0C0C0;
}
.men{
    margin-left: 35px;
}
.m1{
    display: inline-block;
    margin-right: 10px;
    margin-left: 5px;
}
.p2{
    text-align: center;
    color: black;
    background-color: white;
}
.w1{
    display: inline-block;
    margin-right: 10px;
    margin-left: 35px;
}
.offer{
    height: 500px;
    width: 900px;
    background-image: url(./o8.jpg);
    background-size: cover;
    margin: auto;
    margin-top: 70px;
    padding: 70px;
    border-radius: 30px;
}
#o1{
    font-size: 70px;
    font-weight: 600;
    color: white;
}
#o2{
    font-size: 50px;
    font-weight: 600;
    color: white;
}
#o3{
    color: white;
    padding: 10px;
    margin: 30px;
    margin-left: 70px;
    background-color: black;
    border: 1px solid #C0C0C0;
    border-radius: 20px;
    width: 150px;
    height: 40px;
}
.costmer{
    margin-top: 80px;
    margin: auto;
    width: 1200px;
}
.ct1{
    margin-top: 80px;
    height: 300px;
    width: 330px;
    background-color: white;
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 30px;
}
#s1{
border-radius: 60%;
}
.r2{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
.im{
    margin-left:60px;
}
.r1{
    margin: 5px;
}
#w1{
    font-size: 70px;
    font-weight: 600;
    color: white;
    margin-top: 60px;
}
.footer{
    margin-top: 60px;
}
.f1{
    color: white;
}
#f2{
    font-size: 70px;
    font-weight: 600;
    color: white;
}
#f3{
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.f4{
    margin-top: 50px;
}
#f5{
    font-size: 50px;
    font-weight: 600;
    color: white;
}
.gmail{
    color: white;
    margin-top: 20px;
    text-align: center;
}
.logo{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-right: 20px;
}
a:hover{
  border: 1px solid #C0C0C0;
  border-radius: 30px;
}
#b1:hover{
    background-color: white;
    color: black;
}
#o3:hover{
    background-color: white;
    color: black;
}
